@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("../WoodlandSkipper/AtkinsonHyperlegible-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "AtkinsonHyperlegible", sans-serif;
}